html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  /* background-color: #4CAF50; */
  background: linear-gradient(to bottom, #ADD8E6, #90EE90);
  display: flex;
  flex-direction: column;
}

#app {
  padding: 0px !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}

.page-title {
  font-family: 'Georgia', serif;
  font-size: 3rem;
  text-align: center;
  background: linear-gradient(90deg, #3498db, #9b59b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px 0;
}

.post-text{
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  color: #7f8c8d;
  text-align: center;
  margin: 10px 0;
  line-height: 1.6;
}

main {
  flex: 1;
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 95px !important;
}

main > div:nth-child(2) {
  padding: 0 !important;
  margin: 0 !important;
  background: linear-gradient(to bottom, #ADD8E6, #90EE90);
}

input, textarea {
  background-color: white;
  color: black;
}

#left-background,
#right-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
  width: inherit;
}

#left-background {
  background-image: url(../src/assets/left-background.webp);
  left: 0;
}

#right-background {
  background-image: url(../src/assets/right-background.webp);
  right: 0;
}

#logo {
  cursor: pointer;
}

#logo:hover {
  cursor: pointer;
  border: #4CAF50 3px solid;
}

header {
  background: #ffffff;
  border-bottom: 5px solid #b8b8b8;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  max-height: 109px;
}

footer {
  background: #333;
  border-top: 5px solid #292929;
  padding: 10px 20px;
  color: white;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-top: 5px solid #292929;
  position: fixed;
  bottom: 0;

  justify-content: space-between;
  align-items: center;
  display: flex;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.button-orange{
  background-color: #e67e22; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-orange:hover {
  background-color: #d35400; 
}

button:focus,
button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.ql-editor, .ql-toolbar{
  background-color: white;
}

